django>=5.0
djangorestframework
django-cors-headers
dj-database-url
gunicorn
whitenoise[brotli]
psycopg2-binary
python-decouple
pgvector
pydantic-ai
google-generativeai
python-dotenv
uvicorn[standard]
requests>=2.31.0
groq
