django>=5.0
djangorestframework
django-cors-headers
dj-database-url
gunicorn
whitenoise[brotli]
psycopg2-binary
python-decouple
pgvector
pydantic-ai
langgraph>=0.2.0
langchain-core>=0.3.0
google-generativeai
python-dotenv
uvicorn[standard]
requests>=2.31.0
groq
django-redis
redis
openai
